<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Add Card</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Add a New Card</h1>
    <form th:action="@{/add}" th:object="${card}" method="post">
      <input type="text" th:field="*{name}" placeholder="Name" />
      <input type="text" th:field="*{description}" placeholder="Description" />
      <input type="text" th:field="*{imgUrl}" placeholder="Image URL" />
      <input type="number" th:field="*{hp}" placeholder="HP" />
      <input type="number" th:field="*{energy}" placeholder="Energy" />
      <input type="number" th:field="*{attack}" placeholder="Attack" />
      <input type="number" th:field="*{defense}" placeholder="Defense" />
      <input type="text" th:field="*{family}" placeholder="Family" />
      <input type="text" th:field="*{affinity}" placeholder="Affinity" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
