<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Cards List</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Cards List</h1>
    <!-- Search Form -->
    <form action="#" th:action="@{/}" method="get">
      <input type="text" name="search" placeholder="Search by name" />
      <button type="submit">Search</button>
    </form>
    <div class="classList">
      <div th:each="card : ${cards}" class="card">
        <img
          th:src="@{${card.imgUrl}}"
          alt="Card Image"
          style="width: 100px; height: 100px"
        />
        <p th:text="'Name: ' + ${card.name}"></p>
        <p th:text="'Description: ' + ${card.description}"></p>
        <p th:text="'HP: ' + ${card.hp}"></p>
        <p th:text="'Energy: ' + ${card.energy}"></p>
        <p th:text="'Attack: ' + ${card.attack}"></p>
        <p th:text="'Defense: ' + ${card.defense}"></p>
        <p th:text="'Family: ' + ${card.family}"></p>
        <p th:text="'Affinity: ' + ${card.affinity}"></p>
      </div>
    </div>
    <a href="/add">Add New Card</a>
  </body>
</html>
